@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans+Narrow|Poppins');
/* font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset to 0 */
body {
    background-color: lightgoldenrodyellow;
}
main {
    margin: auto;
    width: 50%;
    align-content: center;
    background-color: lightskyblue;
}
p {
    font-family: 'Popins', sans-serif;
    font-size: 1.2rem;
}
section {
    border: 2px solid darkblue;
}

section img {
    width: 150px;
}

main h2 {
    text-align: center;
    font-family: 'open sans', sans-serif;
}

footer {
    text-align: center;
}

#logo {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 500px) {
    body {
        background-color: orange;
    }
}
